<!-- align everything to the center.  really just effects the <p> and <button> at the end-->
    <div class="main-panel">
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
            <table style="margin-left:auto;margin-right:auto; border-spacing:5px;">
                <tr>
                    <td>
                        <mat-form-field hideRequiredMarker="true">
                            <mat-label>Vial Barcode</mat-label>
                            <input matInput formControlName="barcode" id="locate-barcode" required="y" 
                                minlength="{{MIN_BARCODE_LENGTH}}"/>
                            <mat-hint>Min {{MIN_BARCODE_LENGTH}} chars</mat-hint>
                            @if (dataForm.controls.barcode.invalid) {
                                <mat-error>{{getFieldErrors("Vial Barcode",dataForm.controls.barcode)}}</mat-error>
                            }
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field hideRequiredMarker="true">
                            <mat-label>Rack Barcode</mat-label>
                            <input matInput formControlName="parent_barcode" id="locate-parentBarcode" required="y" 
                                minlength="{{MIN_BARCODE_LENGTH}}"/>
                            <mat-hint>Min {{MIN_BARCODE_LENGTH}} chars</mat-hint>
                            @if (dataForm.controls.barcode.invalid) {
                                <mat-error>{{getFieldErrors("Rack Barcode",dataForm.controls.parent_barcode)}}</mat-error>
                            }
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field hideRequiredMarker="true">
                            <mat-label>Position</mat-label>
                            <input matInput formControlName="position" id="locate-position" required="y"/>
                            @if (dataForm.controls.position.invalid) {
                                <mat-error>{{getFieldErrors("Position",dataForm.controls.position)}}</mat-error>
                            }
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <p>
                <span class="importantMessage">ALL Fields are required</span>
            </p>
            <p>
                <button matButton class="normalButton" type="submit" [disabled]="!dataForm.valid">Locate It</button>
            </p>
        </form>
    </div>